@import url(./all-fonts/css/clash-display.css);

body {
	background-color: rgb(16, 45, 43);
	color: rgb(127, 125, 125);
	font-family: ClashDisplay-Bold;
}

button {
	font-family: ClashDisplay-Bold;
	background-color: transparent;
	color: rgb(127, 125, 125);
	border: 3px solid rgb(127, 125, 125);
	padding: 5px 15px;
	font-size: 1em;
}

.start-btn {
	color: rgb(104, 28, 7);
	border: 3px solid rgb(104, 28, 7);
}

.title-div,
.setup-div,
.setup-menu {
	display: grid;
	gap: 10px;
}

.patrol-div,
.submarine-div,
.destroyer-div,
.battleship-div,
.carrier-div {
	display: grid;
	justify-items: center;
	align-content: start;
	gap: 5px;
}

.title-div {
	font-size: 4em;
	color: rgb(104, 28, 7);
}

.board-div {
	display: none;
}

.title-div,
.setup-div {
	justify-items: center;
}

.setup-menu {
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	padding-top: 5px;
}

.start-btn {
	grid-column: 2 / 3;
}

.ship-setup {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(5, auto);
	gap: 10px;
}

.patrol-ship,
.submarine-ship,
.destroyer-ship,
.battleship-ship,
.carrier-ship {
	display: grid;
	border: 1px solid rgb(127, 125, 125);
}

.patrol-ship {
	grid-template-rows: repeat(2, 1fr);
	height: 60px;
	width: 30px;
}

.submarine-ship {
	grid-template-rows: repeat(3, 1fr);
	height: 90px;
	width: 30px;
}

.destroyer-ship {
	grid-template-rows: repeat(3, 1fr);
	height: 90px;
	width: 30px;
}

.battleship-ship {
	grid-template-rows: repeat(4, 1fr);
	height: 120px;
	width: 30px;
}

.carrier-ship {
	grid-template-rows: repeat(5, 1fr);
	height: 150px;
	width: 30px;
}

.setup-board,
.player-board,
.comp-board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	height: 300px;
	width: 300px;
	border: 1px solid rgb(127, 125, 125);
}

.player-board {
	margin-bottom: 20px;
}

.setup-space,
.board-space,
.ship-space,
.patrol-ship-space,
.submarine-ship-space,
.destroyer-ship-space,
.battleship-ship-space,
.carrier-ship-space {
	border: 1px solid rgb(127, 125, 125);
}

.setup-alert {
	color: rgb(104, 28, 7);
	font-size: 2em;
}

@media only screen and (max-width: 510px) {
	.title-div {
		font-size: 3em;
	}

	.ship-setup {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, auto);
	}

	.setup-alert {
		font-size: 1em;
	}
}

@media only screen and (max-width: 360px) {
	.title-div {
		font-size: 2em;
	}

	.setup-menu {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.ship-setup {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, auto);
	}
}
