@import url(./all-fonts/css/clash-display.css);

body {
	background-color: rgb(35, 107, 105);
	color: rgb(127, 125, 125);
	font-family: ClashDisplay-Bold;
}

button {
	font-family: ClashDisplay-Bold;
	background-color: transparent;
	color: rgb(127, 125, 125);
	border: 3px solid rgb(127, 125, 125);
	padding: 5px 15px;
	font-size: 1em;
}

.title-div,
.setup-div,
.setup-menu,
.patrol-div,
.submarine-div,
.destroyer-div,
.battleship-div,
.carrier-div {
	display: grid;
	gap: 10px;
}

.title-div{
	font-size: 4em;
	color: rgb(104, 28, 7); 
}

.board-div {
	display: none;
}

.title-div, .setup-div {
	justify-items: center;
}

.setup-menu {
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	padding-top: 25px;
}

.start-btn {
	grid-column: 2 / 3;
}

.ship-setup {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(5, 1fr);
	padding-top: 25px;
	gap: 20px;
}

.patrol-ship,
.submarine-ship,
.destroyer-ship,
.battleship-ship,
.carrier-ship {
	display: grid;
	border: 1px solid rgb(127, 125, 125);
}

.patrol-ship {
	grid-template-rows: repeat(2, 1fr);
	height: 60px;
	width: 30px;
}

.submarine-ship {
	grid-template-rows: repeat(3, 1fr);
	height: 90px;
	width: 30px;
}

.destroyer-ship {
	grid-template-rows: repeat(3, 1fr);
	height: 90px;
	width: 30px;
}

.battleship-ship {
	grid-template-rows: repeat(4, 1fr);
	height: 120px;
	width: 30px;
}

.carrier-ship {
	grid-template-rows: repeat(5, 1fr);
	height: 150px;
	width: 30px;
}

.setup-board,
.player-board,
.comp-board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	height: 300px;
	width: 300px;
	border: 1px solid rgb(127, 125, 125);
}

.setup-space,
.board-space,
.ship-space,
.patrol-ship-space,
.submarine-ship-space,
.destroyer-ship-space,
.battleship-ship-space,
.carrier-ship-space {
	border: 1px solid rgb(127, 125, 125);
}
